<%- include('../../partials/head.ejs') %>

<div class="container my-container">
    <div class="jumbotron">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, provident.</h1>
        <div class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis aperiam molestias ipsa unde. Accusantium odit quae veniam tempora officiis a dolores alias voluptatibus sit aut omnis, perferendis praesentium sed. Aliquid!</div>
    </div>
</div>

<%- include('../../partials/footer.ejs') %>

</body>

</html>